html, body, #root{
    height: 100%;
}

@media (min-width:1300px)  {
    .sidebar{
        position: fixed !important;
    }
}

@media (max-width:1300px)  {
    .sidebar{
        height: auto !important;
    }
}